.chat-container {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  font-family: 'Roboto', sans-serif;
  border: 0.1em solid #ccc;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  padding: 1.25em;
  margin: 5em auto;
  max-width: 37.5em;
  height: 37.5em;
}

.chat-header {
  margin-bottom: 2.3em;
  color: #fff;
}

.chat-header h2 {
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
}

.chat-messages {
  height: 22.5em;
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  background-color: #f5f5f5;
  padding: 0.625em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
}

.message-sender {
  font-weight: bold;
  color: #f7941e;
  margin-bottom: 0.3125em;
}

.message-text {
  font-size: 1em;
  color: #333;
  margin-bottom: 0.3125em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.75em;
  color: #666;
  text-align: right;
}

.chat-input-form {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
}

.chat-input {
  flex-grow: 1;
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
}

.button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: translateY(2px);
}

.send-button {
  background-color: #f7941e;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.625em;
}

.clear-chat-button {
  display: block;
  margin: 3em auto;
}
